
.flex-container{
    display: flex;
}
.flex-one{
    flex: 1;
    border: 3px solid green;
}
.flex-two{
    margin: 2px;
    border: 3px solid greenyellow;
    padding: 3px;
   
}
body{
    background-color: lightsalmon;

}
h1{
    border-bottom:3px double firebrick;
    width: auto;
    text-align: center;
    color: rgba(160, 28, 5, 0.925);
}

ul{
    list-style-type: none;    
    background-color: whitesmoke;
    border: 3px solid firebrick;
    border-radius: 33px;
    padding-top:3px;
    padding-bottom:3px ;
    padding-left: 3%;
    padding-right: 0;
    width: auto;
    margin: 3%;
    color: magenta;
    overflow: hidden;
    resize: both;
}
li{
    color: lightseagreen;
    max-width: auto;
    word-wrap: break-word;
    margin-right:10px;
}
form{
    margin-top: 3%;
    /* margin-right: 20px; */
}
input[type="submit"]{
    margin-left:25%;
    width: 50%;
    padding: 3%;
    position: relative;
    text-align: center;
}
